# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

- Know the tools used by a data scientist.
- Create a Jupyter Notebook and become familiar with its environment.
- Understand the structure and management of a Jupyter Notebook.

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. JAVA
5. Scala
6. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Seaborn
4. Scikit-learn

| Data Science Tools | 
|--------------------|
| Python             |
|--------------------|
| Apache Hadoop      |
|--------------------|
|MongoDB             |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers.

In [2]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60.

In [3]:
200/60

3.3333333333333335

## Author
Daniel Belloso